.link {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 16px 16px 16px 0;
  border-radius: 10px;
  transition: padding-left 0.15s ease-in;
}

.linkCurrent {
  background: #323b49;
  padding-left: 16px;
}

.linkText {
  color: #ffffff;
  font-size: 14px;
  font-weight: 700;
  line-height: 22px;
  letter-spacing: 0.2px;
}

.icon {
  filter: invert(69%) sepia(12%) saturate(407%) hue-rotate(174deg)
    brightness(98%) contrast(92%);
  transition: filter 0.15s ease-in;
}

.iconCurrent {
  filter: invert(45%) sepia(78%) saturate(2144%) hue-rotate(121deg)
    brightness(95%) contrast(91%);
}
