.wrapper {
  background: #1f2937;
  padding: 32px;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.shortcuts {
  display: flex;
  flex-direction: column;
  border: 1px solid #323b49;
  border-radius: 16px;
  padding: 24px;
  gap: 32px;
}

.headerWrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.header {
  color: #ffffff;
  font-size: 18px;
  font-weight: 600;
  line-height: 27px;
}

.text {
  color: #687588;
  font-size: 14px;
  font-weight: 500;
  line-height: 22px;
}

.tableHead {
  background: #323b49;
}

.tableHeadTextWrapper {
  /* display: flex;
  align-items: center;
  gap: 10px; */
}

.tableHeadText {
  color: #cbd5e0;
  font-size: 12px;
  font-weight: 700;
  line-height: 19px;
  letter-spacing: 0.2px;
}
