.wrapper {
  padding: 24px 32px;
  background: #1f2937;
  height: 100vh;
  overflow-y: auto;
  border-right: 1px solid #323b49;
}

.logoWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 32.1px;
  padding-block: 12px;
}

.wrapper,
.linksWrapper {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.linksWrapper {
  flex: 1;
}

.dashboardLink {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 10px 30px 0px #0caf6033;
  background: #0caf60;
  padding: 16px 20px;
  border-radius: 10px;
}

.dashboardText {
  color: #ffffff;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.3px;
}

.navLink {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-block: 16px;
}

.navIcon,
.bottomIcon {
  filter: invert(47%) sepia(11%) saturate(730%) hue-rotate(176deg)
    brightness(92%) contrast(87%);
}

.down {
  filter: invert(68%) sepia(21%) saturate(233%) hue-rotate(174deg)
    brightness(98%) contrast(88%);
}

.navName {
  margin-inline: 10px auto;
  color: #ffffff;
  font-size: 14px;
  font-weight: 700;
  line-height: 22px;
  letter-spacing: 0.2px;
}

.bottomNav {
  margin-top: auto;
}

.bottomNavInner {
  margin-top: 48px;
}

.helpTextWrapper {
  background: #e03137;
  min-width: 24px;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  display: grid;
  place-content: center;
  padding-inline: 7.5px;
}

.helpText {
  color: #ffffff;
  font-size: 14px;
  font-weight: 600;
  line-height: 22px;
  text-align: center;
}

.modesWrapper {
  position: relative;
  z-index: 1;
  min-height: 43px;
  background: #111827;
  padding: 6px;
  border-radius: 100px;
  overflow: hidden;
  margin-top: -8px;
}

.currentMode {
  position: absolute;
  top: 6px;
  bottom: 6px;
  width: calc(50% - 6px);
  left: 6px;
  background: #323b49;
  box-shadow: 0px 5px 10px 0px #0000001a;
  border-radius: 100px;
  transition: left 0.25s ease-in;
  z-index: 2;
}

.currentModeDark {
  left: 50%;
}

.modesContent {
  position: relative;
  z-index: 3;
  display: flex;
  border-radius: 100px;
  height: 100%;
}

.modeWrapper {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  cursor: pointer;
}

.modeIcon {
  filter: invert(100%) sepia(64%) saturate(0%) hue-rotate(32deg)
    brightness(114%) contrast(100%);
  transition: filter 0.25s ease-in;
}

.modeText {
  color: #687588;
  font-size: 12px;
  font-weight: 700;
  line-height: 19px;
  letter-spacing: 0.2px;
  transition: color 0.25s ease-in;
}

.modeTextCurrent {
  color: #ffffff;
}
