.wrapper {
  display: flex;
  flex-direction: column;
  gap: 0.71em;
  font-weight: 500;
}

.wrapper,
.inputWrapper {
  font-size: var(--fs-300);
  line-height: var(--lh-300);
}

.labelWrapper {
  display: flex;
  align-items: center;
  gap: 0.14em;
}

.required {
  color: var(--clr-alert);
}

.inputWrapper {
  border: var(--bdr);
  border-radius: var(--br);
  overflow: hidden;
}

.inputWrapper:focus-within {
  border: var(--bdr-secondary);
}

.input,
.input::placeholder {
  color: var(--clr-input);
}

.input {
  width: 100%;
  padding: var(--sp-500) var(--sp-600);
}
