.labelWrapper {
  font-size: var(--fs-300);
  line-height: var(--lh-300);
  font-weight: 500;
  display: flex;
  align-items: center;
  cursor: pointer;
  gap: 0.57em;
  color: rgba(160, 174, 192, 1);
}
