.form {
  /* display: flex;
  gap: 24px;
  flex-wrap: wrap; */
  display: grid;
  grid-template-columns: repeat(
    auto-fit,
    minmax(max(calc(50% - 8px), 270px), 1fr)
  );
  row-gap: 24px;
  column-gap: 16px;
}

.textareaWrapper {
  grid-column: span 2;
}

@media (max-width: 1270px) {
  .form {
    grid-template-columns: 1fr;
  }

  .textareaWrapper {
    grid-column: span 1;
  }
}
