.wrapper {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.header {
  color: #ffffff;
  font-size: 20px;
  font-weight: 700;
  line-height: 28px;
}

.form {
  display: flex;
  gap: 24px;
  flex-wrap: wrap;
}

.formInput {
  flex-grow: 1;
}

.formInputFull {
  width: 100%;
}

.button {
  color: #ffffff;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.3px;
  padding: 12px;
  background: #111827;
  border-radius: 10px;
  max-width: min(100%, 150px);
}
