.button {
  font-size: var(--fs);
  line-height: var(--lh);
  border: var(--bdr-social);
  padding: var(--sp);
  border-radius: var(--br);
  color: var(--clr-main);
  gap: var(--sp-300);
  display: flex;
  justify-content: center;
  align-items: center;
  letter-spacing: 0.20000000298023224px;
  min-width: 140px;
}

.buttonText {
  font-weight: 500;
}
