.wrapper {
  display: flex;
  text-align: center;
  overflow-y: hidden;
  height: 100vh;
}

.heroWrapper,
.body {
  flex-basis: 0;
  flex-grow: 1;
  /* width: 50%; */
  flex-shrink: 0;
}

.heroWrapper {
  display: none;
  position: unset !important;
  height: 100vh;
}

.heroImage {
  position: relative;
  object-fit: cover;
  height: 100% !important;
  object-position: top center;
}

.body {
  display: flex;
  flex-direction: column;
  gap: 32px;
  padding: 24px min(24px, 10%);
  min-height: 100vh;
  overflow-y: auto;
}

.logo {
  margin-inline: auto;
}

.title {
  font-size: var(--fs-700);
  line-height: var(--lh-700);
  font-weight: 700;
}

.ornamentWrapper {
  display: none;
  font-size: clamp(0.75rem, 1.11111vw, 1rem);
  width: clamp(3.75rem, 6.945vw, 6.25rem);
  position: unset !important;
  margin-bottom: 1.9em;
}

.ornament {
  position: relative;
  object-fit: cover;
  height: 100% !important;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.formOptions {
  font-size: var(--fs-300);
  line-height: var(--lh-300);
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 24px;
}

/* .forgotPassword {
  font-weight: 500;
  color: rgba(160, 174, 192, 1);
} */

.rememberMe {
  flex-grow: 100;
}

.forgotPassword {
  flex-grow: 1;
  font-weight: 500;
  color: rgba(104, 117, 136, 1); /* CHECK FOR CHECKBOX MOBILE COLOR ALSO */
}

.callToAction {
  display: flex;
  flex-direction: column;
  gap: 26px;
}

.loginDivider {
  font-size: var(--fs-300);
  line-height: var(--lh-300);
  font-weight: 500;
  color: rgba(104, 117, 136, 1);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.14em;
}

.loginDivider::before,
.loginDivider::after {
  content: "";
  height: 0.0625rem;
  background: rgba(50, 59, 73, 1);
  flex-grow: 1;
}

.socialButtonWrapper {
  display: flex;
  gap: 16px;
  flex-wrap: wrap;
}

.authChange,
.footer {
  font-size: var(--fs-300);
  line-height: var(--lh-300);
  font-weight: 500;
  color: rgba(160, 174, 192, 1);
}

.authChangeLink {
  color: rgba(39, 163, 118, 1);
  white-space: nowrap;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: auto;
}

/* .footer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.71em;
  margin-top: auto;
} */

/* .copyRight {
  color: rgba(104, 117, 136, 1);
} */

/* .authChange {
  margin-block: 2.2857em 3.4em;
  font-size: var(--fs-300);
  line-height: var(--lh-300);
  font-weight: 500;
  color: rgba(104, 117, 136, 1);
} */

/* .formWrapper {
    padding-inline: 4.16667vw;
  } */

.allRightsReserved {
  white-space: nowrap;
}

.termsAndPolicy {
  display: none;
}

@media (min-width: 600px) {
  .heroWrapper,
  .ornamentWrapper {
    display: block;
  }

  .logo {
    display: none;
  }

  .body {
    padding: 12.695vh 4.16667vw 1.5rem;
  }
}
