.wrapper {
  display: flex;
  text-align: center;
}

.heroWrapper,
.body {
  flex-grow: 1;
  min-width: 50%;
}

.heroWrapper {
  display: none;
  position: relative;
  height: 100vh;
}

.heroImageWrapper {
  position: unset !important;
  height: 100%;
}

.heroImage {
  position: relative;
  height: 100% !important;
  width: 100% !important;
  object-position: top left;
  object-fit: cover;
}

.body {
  display: flex;
  flex-direction: column;
  gap: 32px;
  padding: 24px min(24px, 10%);
  min-height: 100vh;
  max-width: 650px;
  margin-inline: auto;
}

.logo {
  margin-inline: auto;
}

.title {
  font-size: var(--fs-700);
  line-height: var(--lh-700);
  font-weight: 700;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.callToAction {
  display: flex;
  flex-direction: column;
  gap: 26px;
}

/*  */

.ornamentWrapper {
  display: none;
  font-size: clamp(0.75rem, 1.11111vw, 1rem);
  width: clamp(3.75rem, 6.945vw, 6.25rem);
  position: unset !important;
}

.ornament {
  position: relative;
  object-fit: cover;
  height: 100% !important;
}

.formOptions {
  font-size: var(--fs-300);
  line-height: var(--lh-300);
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 24px;
}

.rememberMe {
  flex-grow: 100;
}

.forgotPassword {
  flex-grow: 1;
  font-weight: 500;
  color: rgba(104, 117, 136, 1); /* CHECK FOR CHECKBOX MOBILE COLOR ALSO */
}

/* .formWrapper {
    padding-inline: 4.16667vw;
  } */

/* .forgotPassword {
  font-weight: 500;
  color: rgba(160, 174, 192, 1);
} */

@media (min-width: 500px) {
  .body {
    padding: 6vh 4.16667vw 1.5rem;
  }
}

@media (min-width: 900px) {
  .wrapper {
    overflow-y: hidden;
    height: 100vh;
  }

  .heroWrapper {
    display: block;
    flex-direction: column;
  }

  .logo {
    display: none;
  }

  .body {
    overflow-y: auto;
  }

  /*  */

  .ornamentWrapper {
    display: block;
  }
}

@media (min-width: 1200px) {
  .body {
    padding-top: 12.695vh;
  }

  .form,
  .callToAction {
    max-width: 480px;
    width: 100%;
    margin-inline: auto;
  }
}

@media (max-height: 940px) {
  .body {
    padding-top: 6vh;
  }
}
