.title {
  font-size: var(--fs-800);
  line-height: var(--lh-800);
  font-weight: 700;
}

.text {
  font-size: var(--fs-500);
  line-height: var(--lh-500);
  max-width: 400px;
}

.mainWrapper {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  text-align: center;
}

.requirements {
  display: flex;
  flex-wrap: wrap;
  margin-block: 16px 24px;
  gap: 4px;
}

.requirement {
  display: flex;
  align-items: center;
  gap: 8px;
  width: calc(50% - 2px);
}

.requirementText,
.requirementTextChecked {
  font-size: var(--fs-300);
  line-height: var(--lh-300);
  color: var(--clr-alert);
}

.requirementTextChecked {
  color: rgba(39, 163, 118, 1);
}
