.text12 {
  font-size: 12px;
  line-height: 19px;
}

.text14 {
  font-size: 14px;
  line-height: 22px;
}

.text20 {
  font-size: 20px;
  line-height: 28px;
}

.textLight {
  color: #ffffff;
}

.textDark {
  color: #687588;
}

.text400 {
  font-weight: 400;
}

.text500 {
  font-weight: 500;
}

.text600 {
  font-weight: 600;
}

.text700 {
  font-weight: 700;
}

.letterSpacing02 {
  letter-spacing: 0.2px;
}

.letterSpacing03 {
  letter-spacing: 0.3px;
}
