.headerWrapper {
  display: flex;
  align-items: center;
  gap: 6px;
}

.header {
  color: #ffffff;
  font-size: 18px;
  font-weight: 600;
  line-height: 27px;
}

.icon {
  filter: invert(98%) sepia(2%) saturate(255%) hue-rotate(195deg)
    brightness(115%) contrast(100%);
}
