.title {
  font-size: var(--fs-800);
  line-height: var(--lh-800);
  font-weight: 700;
}

.text {
  font-size: var(--fs-500);
  line-height: var(--lh-500);
}

.mainWrapper {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  text-align: center;
}

.emailAddress {
  font-weight: 600;
}

.wrongEmail {
  color: rgba(39, 163, 118, 1);
}
